:root {
  --black-txt: #314552;
  --white-txt:#ffffff;
  --background-color: #FBFBFB;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: var(--black-txt);
  font-family: "Amiko", sans-serif;
}

/* Espacios y mÃ¡rgenes */
.pt-4 { padding-top: 40px !important; }
.pt-3 { padding-top: 30px !important; }
.pt-1 { padding-top: 10px !important; }
.pb-1 { padding-bottom: 10px !important; }
.pb-3 { padding-bottom: 30px !important; }
.pb-4 { padding-bottom: 40px !important; }
.pl-1 { padding-left: 10px !important; }
.pr-1 { padding-right: 10px !important; }
.mt-1 { margin-top: 10px !important; }
.mt-2 { margin-top: 20px !important; }
.mt-3 { margin-top: 30px !important; }
.mt-4 { margin-top: 40px !important; }
.mb-4 { margin-bottom: 40px !important; }

.wow {
  visibility: hidden;
}

/* estilos para que en LV se muestre el contenido sin margenes */
.wallpaper-inverted-ad{
  display: none!important;
}

.visual-article-free .col-12 {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-top: 0 !important;
}
.content-free-html {
  margin:0 !important;
}
.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.visual__story--free .content-free-html {
  margin: 0px !important;
}
/* .row>* {
  padding-right: 0!important;
  padding-left: 0!important;
  margin-top: 0!important;
} */

/* PÃ¡gina */
.content-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: var(--background-color);
}

/* Text content styles */
.text-content {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 610px;
}

.text-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 98%; /* 29.4px */
  text-transform: uppercase;
}

.text-content .small-text {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 127.075%; /* 15.249px */
  letter-spacing: 3.12px;
  text-transform: uppercase;
}

.text-content .subtitle {
  font-size: 1rem;
}

/* Video grid styles */
.video-grid {
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-video {
  width: 22%; 
  height: 300px; 
  border-radius: 100px; 
  object-fit: cover; 
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.custom-video:first-of-type {
  margin-top: 4rem;
}
.custom-video:nth-of-type(2n) {
  margin-top: 8rem;
}

/* Animation */
.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive adjustments */

/* Medium screens (tablets and small desktops) */
@media (max-width: 1024px) {
  .content-wrapper {
    padding: 1.5rem;
  }

  .text-content h1 {
    font-size: 1.75rem;
  }

  .custom-video {
    max-width: 180px;
    height: 180px;
  }

  .video-grid {
    flex-wrap: wrap; 
    justify-content: center;
  }
}

/* Small screens (mobile devices) */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .text-content {
    width: 100%;
    text-align: center;
  }

  .video-grid {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .custom-video {
    max-width: 150px;
    height: 150px; 
  }

  .custom-video:first-of-type {
    margin-top: 2rem;
  }
  .custom-video:nth-of-type(2n) {
    margin-top: 4rem;
  }

  .text-content h1 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }

  .text-content .subtitle {
    font-size: 0.9rem;
  }
}

/* Chapter Section Styles */
.chapter-section {
  padding: 2rem;
  background-color: var(--content-background-color);
}

/* Chapter Grid */
.chapter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.chapter {
  background-color: var(--white-txt);
  border-radius: 12px;
  padding: 1rem;
  transition: box-shadow 0.3s ease;
}

.chapter:nth-child(even) {
  margin-top: 50px;
}

.chapter-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.chapter-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.chapter-description {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* Button Styles */
.chapter-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--black-txt);
  border: 2px solid var(--black-txt); 
  border-radius: 50px;
  text-decoration: none;
  background-color: var(--white-txt);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.chapter-button img {
  margin-left: 0.5rem;
  width: 11px;
  height: auto;
  transition: filter 0.3s ease; /* AÃ±adido para transicionar el color del Ã­cono */
}

/* Button Hover & Active States */
.chapter-button:hover {
  background-color: var(--black-txt);
  color: var(--white-txt);
}

.chapter-button:hover img {
  filter: brightness(0) invert(1); /* Cambia el Ã­cono a blanco */
}

.chapter-button:active {
  background-color: var(--black-txt);
  color: var(--white-txt);
}

.chapter-button:active img {
  filter: brightness(0) invert(1); /* Cambia el Ã­cono a blanco en estado activo */
}


/* Locked Chapters */
.locked {
  opacity: 0.7;
}

/* Responsive Styles */

/* Tablets and small desktops */
@media (max-width: 1024px) {
  .chapter-grid {
    grid-template-columns: 1fr;
  }

  .chapter:nth-child(even) {
    margin-top: 0;
  }
  .chapter-button {
    width: 90%;
  }
}

/* Mobile devices */
@media (max-width: 768px) {
  .chapter {
    padding: 1rem;
  }

  .chapter-image {
    max-width: 100%;
    height: auto;
  }

  .chapter-title {
    font-size: 1.1rem;
  }

  .chapter-description {
    font-size: 0.9rem;
  }

  .chapter-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

/* buena huella */

section .contenedor-principal {
  margin: 0;
  padding: 0;
}
.contenedor-principal {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.izquierda {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.izquierda h2 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 146.8%; /* 46.976px */
  max-width: 550px;

}
.izquierda p {
  max-width: 650px;
}
.logo {
  padding-top: 20px;
  width: 300px;
  text-align: left;
}

.derecha {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  max-width: 1380px;
  width: 100%;
  margin: auto;
  border-radius: 7px;
  background-color: var(--background-color);
  box-shadow: 0px 949px 266px 0px rgba(204, 204, 204, 0.00), 0px 607px 243px 0px rgba(204, 204, 204, 0.01), 0px 342px 205px 0px rgba(204, 204, 204, 0.05), 0px 152px 152px 0px rgba(204, 204, 204, 0.09), 0px 38px 83px 0px rgba(204, 204, 204, 0.10);
  border: 1px solid #e3e3e368;
}


@media (max-width: 550px) {
  .derecha p {
    font-size: 14px !important;
  }
  .izquierda {
    flex-direction: column;
    padding-left:16px !important;
    padding-right:16px !important;
  }
}
.imagenes-centrales {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around!important;
  text-align: center;
}

.imagen {
  width: 280px;
}

.derecha h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 146.8%;
}
.derecha hr {
  width: 85%;
  color: var(--black-txt);
  opacity: 1;
}

.icono-parrafo {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;  /* Asegurando que cada contenedor .icono-parrafo ocupe el mismo espacio */
}

.icono-parrafo p {
  flex: 1;  
  max-width: 480px;
  padding-left: 10px;
  padding-right: 10px;
}

.desplazamientos, .energia {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bullets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.desplazamientos {
display: flex;
flex-direction: column;
}
.energia {
  display: flex;
  flex-direction: column;
  }

@media (max-width: 768px) {
  .contenedor-principal {
      flex-direction: column;
  }
}

.fuente {
  max-width: 90%;
  font-size: 1rem;
  margin: auto;
}

.fuente p {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 121.023%;
}


/* Resultados */
section .fondo-oscuro {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: auto;
}
.fondo-oscuro {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  width: 100%;
  max-width: 1380px!important;
  margin: auto;
  border-radius: 7px;
  box-shadow: 0px 949px 266px 0px rgba(204, 204, 204, 0.00), 0px 607px 243px 0px rgba(204, 204, 204, 0.01), 0px 342px 205px 0px rgba(204, 204, 204, 0.05), 0px 152px 152px 0px rgba(204, 204, 204, 0.09), 0px 38px 83px 0px rgba(204, 204, 204, 0.10);
  background-color: #455C6B;
  color: var(--white-txt);
}
.fondo-oscuro-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  width: 100%;
  max-width: 100%!important;
  margin: auto;
  box-shadow: 0px 949px 266px 0px rgba(204, 204, 204, 0.00), 0px 607px 243px 0px rgba(204, 204, 204, 0.01), 0px 342px 205px 0px rgba(204, 204, 204, 0.05), 0px 152px 152px 0px rgba(204, 204, 204, 0.09), 0px 38px 83px 0px rgba(204, 204, 204, 0.10);
  background-color: #455C6B;
  color: var(--white-txt);
}

.fondo-oscuro h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 146.8%;
}
.fondo-oscuro h4 {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}
.fondo-oscuro p {
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
}

.fondo-oscuro hr {
  width: 85%;
  color: var(--black-txt);
}


.fondo-oscuro-2 h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 146.8%;
}
.fondo-oscuro-2 h4 {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}
.fondo-oscuro-2 p {
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
}

.fondo-oscuro-2 hr {
  width: 85%;
  color: var(--black-txt);
}

section .resultados {
  margin: 0;
  padding: 0;
}
.resultados {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.resultados h4{
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}
.contenedor-datos {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  justify-content: space-around;
}
.datos {
  text-align: center;
  margin: auto;
}
.datos h5 {
  margin-bottom: 0;
  font-weight: 400;
}
.datos p {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  margin-top: 0;
}
.icono-datos {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}
.icono-datos p {
  margin-bottom: 0;
  padding-right: 7px;
}
@media (max-width: 768px) {
  .contenedor-datos {
    flex-direction: column;
  }
}

.fondo-oscuro-2 .votar p {
  padding-left: 15px;
  padding-right: 15px;
}

.fondo-oscuro-2 .chapter-button {
  color: var(--white-txt);
  border: 2px solid var(--white-txt); 
  background-color: #455C6B;
}
.fondo-oscuro-2 .chapter-button:hover {
  background-color: var(--white-txt);
  color:  #455C6B;
}

.fondo-oscuro-2 .chapter-button:hover img {
  filter: brightness(0) saturate(100%) hue-rotate(180deg); /* Cambia el Ã­cono a azul */
}

.fondo-oscuro-2 .chapter-button:active {
  background-color: var(--white-txt);
  color:  #455C6B;
}

.fondo-oscuro-2 .chapter-button:active img {
  filter: brightness(0) saturate(100%) hue-rotate(180deg); /* Cambia el Ã­cono a azul en estado activo */
}

/*CRÃ‰DITOS*/
.authorship-f-1 {
  color: #7E7E7E;
  font-size:0.8em;
  text-align:center;
  padding:16px 0;
}
.d-inline-block-f-1 {
  display: inline-block!important;
}
.container-fluid-f-1 {
padding-right: 20px;
padding-left: 20px;
margin-right: auto;
margin-left: auto;
}
@media (min-width: 768px) {
.container-fluid-f-1 {
padding-right: 24px;
padding-left: 24px;
}
}
.creditos {
  font-size:1.6em;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
}
.container-fluid-f-1 {
  width: calc(100% - 40px);
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px
}
