:root {
  --bg-color: #02060E;
  --text-color: #ffffff;
  --accent-color: #ffffff;
  --star-glow: rgba(255, 255, 255, 0.15);
  --font-sans: "Albert Sans", sans-serif;
  --font-serif: "Crimson Text", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ---------- ESTILOS LANDING -------------------------------------- */
.constelacion-wrapper {
  font-family: var(--font-sans);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
  position: relative;
}

#stars-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* z-index: -1; */
  pointer-events: none;
}

.constelacion-header {
  text-align: center;
  padding: 0 2rem 7rem;
}

.constelacion-header span {
  display: block;
  font-size: 0.7rem;
  color: var(--accent-color);
  margin-bottom: 0.5rem;
  opacity: 0.85;
  font-style: normal;
font-weight: 700;
line-height: 127.075%; /* 12.708px */
letter-spacing: 1.8px;
text-transform: uppercase;

}

.constelacion-header h1 {
  max-width: 710px;
  font-size: 5rem;
  font-family: var(--font-serif);
  margin:0 auto 1rem;
  color: var(--accent-color);
  font-style: normal;
  font-weight: 400;
  line-height: 93%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.constelacion-header p.sub {
  max-width: 380px;
  margin: 0 auto 3rem;
  font-size: 1.2rem;
  opacity: 0.9;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; 
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.scroll-cta {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-top: 1rem;
  display: inline-block;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(8px); }
}

.grid-background {
  background-image: url('https://brandedcontentgrupogodo.github.io/ext/caixabank-2025/01_09-07-25/assets/img/fondo-estrellas.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 2rem 6rem;
  opacity: 0.8;
}

.constelacion-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  /* padding: 3rem 2rem 6rem; */
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: rgba(1, 2, 4, 0.50);
  border: 1px solid #1C3257;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 12px var(--star-glow);
  width: 300px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card:nth-child(odd) {
  top: -30px;
}

.card:nth-child(even) {
  top: 30px;
}

.card img {
  width: 180px;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 1.5rem;
}

.card h2 {
  font-family: var(--font-serif);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 0.5rem;
  color: var(--accent-color);
}

.card p em {
  font-size: 1.1rem;
  font-style: normal!important;
  font-weight: 500;
  line-height: 110%;
}
.card p {
  font-size: 1rem;
  font-style: normal!important;
  font-weight: 400;
  line-height: 110%;
  margin-top: 10px;
  margin-bottom: 25px;
}

.card a {
  margin-top: auto;
  display: inline-block;
  margin-top: 1rem;
  background: #111e35;
  color: var(--accent-color);
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.card a:hover {
  background: #1e345b;
}

/* ---------- CRÉDITOS ---------------------------------- */
.authorship-f {
  color: #888;
  font-size: .8em;
  text-align: center;
  padding-bottom: 30px;
}

.container-fluid-f {
  width: calc(100% - 40px);
  max-width: 980px;
  margin-inline: auto;
  padding-inline: 20px;
}

/* estilos para que en LV se muestre el contenido sin margenes */
.wallpaper-inverted-ad{
    display: none!important;
  }
  
  .visual-article-free .col-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top: 0 !important;
  }
  .content-free-html {
    margin:0 !important;
  }
  .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .visual__story--free .content-free-html {
    margin: 0px !important;
  }
  .row>* {
    padding-right: 0!important;
    padding-left: 0!important;
    margin-top: 0!important;
  }
  .article-default a:hover {
    text-decoration: none;
    box-shadow: none;
  }
button:focus {
    outline: 1px dotted var(--background-color);
    outline: 5px auto var(--background-color) -webkit-focus-ring-color;
}
